/* rem and em do not depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************************/
/* BELOW 1344 (SMALLER DESKTOPS, LAPTOPS) */
/**************************************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 5.2rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 
- font sizes (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 
  
  - spacing system (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
  */
